---
import Layout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const systems = await getCollection("systems");
---

<Layout title="Systems">
  <ul>
    {
      systems.map((system) => (
        <li>
          <a href={`/systems/${system.slug}`}>{system.data.name}</a>
        </li>
      ))
    }
  </ul>
</Layout>
