---
import { getEntryBySlug, getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
const { slug } = Astro.params;
const concept = await getEntryBySlug('concepts', slug) as any;
if (!concept) throw new Error('Concept not found');

export async function getStaticPaths() {
  const concepts = await getCollection('concepts') as any[];
  return concepts.map(concept => ({ params: { slug: concept.slug } }));
}
---

<Layout>
  <h1>{concept.data.title}</h1>
  {concept.data.summary && <p>{concept.data.summary}</p>}
  <article set:html={concept.body} />
</Layout> 