---
import { getEntryBySlug, getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
const { slug } = Astro.params;
const person = await getEntryBySlug('people', slug) as any;
if (!person) throw new Error('Person not found');

export async function getStaticPaths() {
  const people = await getCollection('people') as any[];
  return people.map(person => ({ params: { slug: person.slug } }));
}
---

<Layout>
  <h1>{person.data.name}</h1>
  {person.data.bio && <p>{person.data.bio}</p>}
  <article set:html={person.body} />
</Layout> 