---
import Layout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const people = await getCollection("people");
---

<Layout title="People">
  <ul>
    {
      people.map((person) => (
        <li>
          <a href={`/people/${person.slug}`}>{person.data.name}</a>
        </li>
      ))
    }
  </ul>
</Layout>
