.colour-border {
  height: 6px;
  width: 100%;
  display: flex;
}

.colour-border::before {
  content: "";
  flex: 1;
  background: linear-gradient(
    to right,
    /* Red */ #ff0000 0%,
    /* Orange */ #ff7f00 16%,
    /* Yellow */ #ffff00 32%,
    /* Green */ #00ff00 48%,
    /* Blue */ #0000ff 64%,
    /* Indigo */ #4b0082 80%,
    /* Violet */ #8b00ff 100%
  );
}
