:root {
  --font-heading: 'Oxanium', sans-serif;
  --font-script: 'Pacifico', cursive;
  --font-body: 'Inter', sans-serif;
  --font-code: 'Roboto Mono', monospace;

  --color-surface-primary: #fdfcf7;
  --color-text-primary: #222222;
  --color-text-secondary: #5e5b7a;
  --color-text-muted: #44406d;
  --color-heading-primary: #3a3a6b;
  --color-accent-code: #f44336;
  --color-accent-script: #03a9f4;
  --color-accent-year: #ffc107;
  --color-code-bg: #f3f3f3;
  --color-border: #cccccc;
  --color-link: #007acc;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-surface-primary: #0d0d0d;
    --color-text-primary: #e0e0e0;
    --color-text-secondary: #b0acc0;
    --color-text-muted: #2a2a35;
    --color-heading-primary: #f4b400;
    --color-accent-code: #f44336;
    --color-accent-script: #03a9f4;
    --color-accent-year: #ffc107;
    --color-code-bg: #1e1e1e;
    --color-border: #333333;
    --color-link: #00bcd4;
  }
}

html, body {
  background-color: var(--color-surface-primary);
  font-family: var(--font-body);

  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  color: var(--color-text-primary);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  color: var(--color-heading-primary);
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1.2rem;
}

a {
  color: var(--color-link);
}

.navbar {
  box-shadow: 0 0 5px 0 var(--color-border);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.navbar nav {
  display: flex;
  gap: 1rem;
}

.navbar nav a {
  text-decoration: none;
  color: var(--color-text-primary);
  font-family: var(--font-heading);
  font-weight: bold;
  font-size: 1.4rem;
}

.navbar nav a:hover {
  color: var(--color-link);
}

main {
  padding: 0 1rem;
  max-width: 1200px;
  line-height: 1.5;
  font-size: 1.2rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 1rem;
}

.colour-border {
  height: 6px;
  width: 100%;
  display: flex;
}

.colour-border::before {
  content: "";
  flex: 1;
  background: linear-gradient(to right,
    #ff0000 0%,     /* Red */
    #ff7f00 16%,    /* Orange */
    #ffff00 32%,    /* Yellow */
    #00ff00 48%,    /* Green */
    #0000ff 64%,    /* Blue */
    #4b0082 80%,    /* Indigo */
    #8b00ff 100%    /* Violet */
  );
}