.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 1rem;
  height: 2px;
  background-color: var(--color-text-primary);
  margin: 4px 0;
}

header.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;

  padding: 1rem 2rem;
  margin: 0;

  background-color: var(--color-surface-primary);
  box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.2);
  
  font-family: var(--font-heading);
  font-size: 1.4rem;
  text-transform: uppercase;
}

header.navbar > nav {
  display: flex;
  gap: 1rem;
}

header.navbar > nav > a {
  text-decoration: none;
  color: var(--color-text-secondary);
}

header.navbar > nav > a:hover,
header.navbar > nav > a:focus {
  color: var(--color-text-accent);
}

header.navbar > nav > a:active {
  color: var(--color-text-muted);
}

@media screen and (max-width: 767px) {
  header.navbar .hamburger {
    display: block;
  }

  header.navbar > nav {
    display: none;
  }

  header.navbar > nav[open] {
    display: flex;
  }

  header.navbar > nav {
    position: fixed;
    top: 4rem;
    left: 0;
    width: 100%;
    flex-direction: column;
    text-align: center;
    background-color: var(--color-surface-primary);
    gap: 0;
    box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.2);
  }

  header.navbar > nav > a {
    display: block;
    padding: 0.5rem 1rem;
  }
}
