---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="About">
  <h2>About Code Like It's 198x</h2>
  <p>This project is an exploration of programming for vintage systems, aiming to understand the constraints and creativity of early computing eras.</p>
  <p>Created by Steve Hill.</p>
</MainLayout> 