---
import Layout from '../layouts/Layout.astro';
---
<Layout title="About - Code 198x">
	<h1>About Code 198x</h1>
	<p>This site is dedicated to learning, teaching, and exploring programming on classic computer and console hardware.</p>
</Layout> 