---
import { getCollection } from 'astro:content';
const companies = await getCollection('companies');
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <h1>Companies</h1>
  <ul>
    {companies.map(company => (
      <li>
        <a href={"/companies/" + company.slug}>{company.data.name}</a>
      </li>
    ))}
  </ul>
</Layout> 