---
import { getCollection } from 'astro:content';
const concepts = await getCollection('concepts');
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <h1>Foundational Concepts</h1>
  <ul>
    {concepts.map(concept => (
      <li>
        <a href={"/concepts/" + concept.slug}>{concept.data.title}</a>
      </li>
    ))}
  </ul>
</Layout> 