---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Home">
  <h2>Welcome to Code Like It's 198x</h2>
  <p>This is a curriculum and blog dedicated to learning how to write code for vintage computers and consoles.</p>
  <p>Join me on this journey to explore the roots of computing and programming.</p>
</MainLayout> 