---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Code 198x - Vintage Computing & Programming">
	<h1>Welcome to Code 198x</h1>
	<p>Exploring programming on vintage computers and consoles.</p>
	
	<p>Check out the <a href="/platforms">Platforms</a>, <a href="/tutorials">Tutorials</a>, or <a href="/concepts">Concepts</a>.</p>
</Layout> 