---
import { getCollection } from 'astro:content';
const people = await getCollection('people');
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <h1>Influential People</h1>
  <ul>
    {people.map(person => (
      <li>
        <a href={"/people/" + person.slug}>{person.data.name}</a>
      </li>
    ))}
  </ul>
</Layout> 