---
import { getCollection } from 'astro:content';
const systems = await getCollection("systems");
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <h1>Vintage Computer Systems</h1>
  <ul>
    {systems.map(system => (
      <li>
        <a href={"/systems/" + system.slug}>{system.data.title}</a> — {system.data.manufacturer}
      </li>
    ))}
  </ul>
</Layout> 