---
import { getEntryBySlug } from 'astro:content';
import Layout from '../layouts/Layout.astro';
const timeline = await getEntryBySlug('timelines', 'global');
if (!timeline) throw new Error('Global Timeline not found');
---

<Layout>
  <h1>{timeline.data.title}</h1>
  {timeline.data.description && <p>{timeline.data.description}</p>}
  <article set:html={timeline.body} />
</Layout> 