---
type BreadcrumbItem = { label: string; href: string };
const { items = [] } = Astro.props as { items: BreadcrumbItem[] };
---
{items.length > 0 &&
<nav class="breadcrumbs" aria-label="Breadcrumb">
  {items.map((item, idx) => (
    <>
      <a href={item.href}>{item.label}</a>
      {idx < items.length - 1 && ' > '}
    </>
  ))}
</nav> 
