---
import { getEntryBySlug, getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
const { slug } = Astro.params;
const company = await getEntryBySlug('companies', slug) as any;
if (!company) throw new Error('Company not found');

export async function getStaticPaths() {
  const companies = await getCollection('companies') as any[];
  return companies.map(company => ({ params: { slug: company.slug } }));
}
---

<Layout>
  <h1>{company.data.name}</h1>
  {company.data.summary && <p>{company.data.summary}</p>}
  <article set:html={company.body} />
</Layout> 