---
import Layout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const companies = await getCollection("companies");
---

<Layout title="Companies">
  <ul>
    {
      companies.map((company) => (
        <li>
          <a href={`/companies/${company.slug}`}>{company.data.name}</a>
        </li>
      ))
    }
  </ul>
</Layout>
