---
import '../styles/global.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const pageTitle = Astro.props.title ?? '';
const htmlTitle = pageTitle ? `${pageTitle} - Code Like It's 198x` : 'Code Like It\'s 198x';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{htmlTitle}</title>

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Oxanium:wght@700&family=Pacifico&family=Roboto+Mono&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/src/styles/global.css" />
	</head>
	<body>
		<Header />

		<main>
			<article>
				<header>
					<h1>{pageTitle}</h1>
				</header>
				
				<slot />
			</article>
		</main>

		<Footer />
		<script>
			import "../scripts/menu.js"
		</script>
	</body>
</html>
