# NES Linker Configuration for CC65
# Standard configuration for NROM mapper (mapper 0)

MEMORY {
    # Zero Page
    ZP:     start = $00,    size = $100,  type = rw, file = "";
    
    # OAM buffer (sprite data)
    OAM:    start = $200,   size = $100,  type = rw, file = "";
    
    # General RAM
    RAM:    start = $300,   size = $500,  type = rw, file = "";
    
    # iNES header
    HDR:    start = $0,     size = $10,   type = ro, file = %O, fill = yes;
    
    # PRG-ROM (32KB)
    PRG:    start = $8000,  size = $8000, type = ro, file = %O, fill = yes;
    
    # CHR-ROM (8KB)
    CHR:    start = $0,     size = $2000, type = ro, file = %O, fill = yes;
}

SEGMENTS {
    # iNES header
    HEADER:   load = HDR, type = ro;
    
    # Code segments
    STARTUP:  load = PRG, type = ro, define = yes;
    CODE:     load = PRG, type = ro, define = yes;
    RODATA:   load = PRG, type = ro, define = yes;
    
    # Data segments
    DATA:     load = PRG, run = RAM, type = rw, define = yes;
    BSS:      load = RAM, type = bss, define = yes;
    
    # NES vectors (at end of PRG)
    VECTORS:  load = PRG, type = ro, start = $FFFA;
    
    # Character/tile data
    CHARS:    load = CHR, type = ro;
    
    # Zero page variables
    ZEROPAGE: load = ZP,  type = zp;
    
    # OAM buffer
    OAM:      load = OAM, type = bss, define = yes;
}